@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --clr: #2c363f;
}

body {
  background-color: var(--clr);
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #2196f3;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo {
  position: relative;
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  text-decoration: none;
}

header nav {
  display: flex;
  gap: 10px;
}

header nav a {
  position: relative;
  text-decoration: none;
  padding: 12px 20px;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: 400;
}

header nav #indicator {
  position: absolute;
  width: 88px;
  height: 60px;
  background-color: var(--clr);
  border-radius: 20px 20px 0px 0px;
  transition: 0.5s;
}

header nav #indicator::before {
  content: "";
  position: absolute;
  left: -30px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 0px 0px 20px 0px;
  box-shadow: 5px 5px 0px 5px var(--clr);
}

header nav #indicator::after {
  content: "";
  position: absolute;
  right: -30px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 0px 0px 0px 20px;
  box-shadow: -5px 5px 0px 5px var(--clr);
}
